body {
    background-image: url('https://66.media.tumblr.com/12577a45528b6d5842990ad2ef46876d/tumblr_ol6l5iYtjY1w302mmo1_400.gifv');
    background-size: cover;
}

#title {
    font-family: 'Righteous', cursive;
    font-size: 55px;
    margin-left: 45%;
}

#titletwo {
    font-family: 'Spicy Rice', cursive;
    font-size: 60px;
    margin-left: 46%; 
    margin-top: -3%;
    color: pink;
}

#main {
    /* justify-content: center; */
    background-color: white;
    border: 1px solid red;
    border-radius: 50%; 
    width: 800px;
    height: 500px;
    margin: 0px auto;
    position: relative;
}

#ball {
    position: absolute;
    background: yellow;
    text-align: center;
    border-radius: 100%;
    border: 1px solid black;
    left: 425px;
    top: 0;
    width: 30px;
    height: 30px;
    animation: down 7s;
    animation-iteration: 1;
    animation-fill-mode: forwards;
}

@keyframes down {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(170px);
        opacity: 0%;
    }

}


.cup {
    background-image: url('https://www.pngkit.com/png/detail/428-4280462_solo-cup-icono-descarga-gratuita-png-y-vector.png');
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    transition: left 0.6s;
    top: 200px;
}

.position-1 {
    left: 200px;
}

.position-2 {
    left: 400px;
}

.position-3 {
    left: 600px;
}

#first {
    /* left:200px;
    top:200px; */
    /* background: white; */
    /*  background-image: url('https://www.pngkit.com/png/detail/428-4280462_solo-cup-icono-descarga-gratuita-png-y-vector.png');
   background-repeat: no-repeat; 
   background-size: contain; */
    /* padding-top: 0px;
   padding: 20px;
   width: 0.5%; 
   margin-top: 10%; 
   margin-bottom: 10%;
   margin-left: 5%;
   margin-right: 5%; 
   animation-name: slide;
   animation-delay: 5s;
   animation-duration: 10s;
   animation-fill-mode: forwards; */
}

@keyframes slide {
    100% {
        transform: translateX(300px);
    }
}

#second {
    /* left: 400px;
    top: 200px; */
    /* padding: 20px; */

    /* margin-top: 10%; 
    margin-bottom: 10%; 
    margin-left: 5%; 
    margin-right: 5%; */
    /* animation-duration: 10s;
    animation-delay: 5s; 
    animation-name: switch; 
    animation-fill-mode: forwards; */
}

@keyframes switch {
    from {opacity: 50%;}
    to {transform: translateX(-200px);}
}

#third {
    /* left: 600px;
    top: 200px; */
    /* background: white;
    background-image: url('https://www.pngkit.com/png/detail/428-4280462_solo-cup-icono-descarga-gratuita-png-y-vector.png');
    background-repeat: no-repeat; 
    background-size: contain;
    padding: 20px;
    width: 0.5%; 
    margin-top: 10%; 
    margin-bottom: 10%; 
    margin-left: 5%;
    margin-right: 5%; 
    animation-duration: 10s;
    animation-delay: 5s; 
    animation-name: move; 
    animation-fill-mode: forwards; */
}

@keyframes move {
    to { transform: translateX(-225px);}
}

.cup:hover {
    cursor: pointer;
    transform: scale(2)
}

#mix {
    background: purple; 
    border-radius: 20%;   
    /* position: absolute; */
    left: 0;
    bottom: 0;
}


#won {
    display: none;
    font-family: 'Spicy Rice', cursive;
    padding: 200px;
    font-size: 75px; 
    text-align: center;
    background: green; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*width: 99vw;
    height: 99vh;*/
}

#lost {
    display: none;
    font-family: 'Righteous', cursive;
    padding: 200px;
    font-size: 75px; 
    text-align: center;
    background: red;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#buttonboo {
    text-align: center; 
    margin-top: 1%; 
}

button {
    display: inline-block;
    color: white;
    border: 1px solid;
    border-radius: 50%;
    width: 50px; 
    background: linear-gradient()
    margin: 0 auto;
}

#canvas {
    display: none;
    border: 1px solid yellow;
    margin: 0 auto;
}


/* pre-fabricated classes to move through, add...
/ initial positions: %; 25%, 50%, 75%  //.styles.left = 25%; 

.slide {
    animation: slide 
}

@keyframes slide {
0% {transformX: }
100% {transformX: +/- 25%}

.shift {
    animation: 
} 

@keyframes shift{

}

.leap {

}

@ keyframes leap {

*/
